In [4]:
import pandas as pd

In [5]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [10]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [15]:
import numpy as np

In [21]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[59, 65, 12],
       [52, 83, 12],
       [22, 82, 33]])

In [23]:
df1=pd.DataFrame(veriler,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      59      65      12
satır2      52      83      12
satır3      22      82      33

In [30]:
veriler=["Hayri","Koçmarlar",33],["Hüseyin","Öztürk",34]
veriler

(['Hayri', 'Koçmarlar', 33], ['Hüseyin', 'Öztürk', 34])

In [33]:
df2=pd.DataFrame(veriler,index=["Öğretmen","Öğretmen"],columns=["Ad","Soyad","Yaş"])
df2

               Ad      Soyad  Yaş
Öğretmen    Hayri  Koçmarlar   33
Öğretmen  Hüseyin     Öztürk   34

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   veri1   6 non-null      object
dtypes: object(1)
memory usage: 180.0+ bytes